#### Análisis exploratorio de datos sobre la violencia criminal en Honduras

In [22]:
# Cargamos las librerias necesarias para realizar el análisis exploratorio

import pandas as pd

In [23]:
# Cargamos la base de datos general de UNOCD y se realiza una primera revision del dataset

datos = pd.read_excel('datasets/data_cts_intentional_homicide.xlsx', skiprows=2)
datos.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,35.0,CTS
1,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28.0,CTS
2,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,15053.0,CTS
3,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,69.0,CTS
4,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,455.0,CTS

Únicamente nos interesa Honduras. Entonces, realizaremos un filtrado por país para solo obtener datos de HND.

In [24]:
datos = datos[datos['Iso3_code'] == 'HND'].reset_index(drop=True)
datos.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,905.0,CTS
1,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,1319.0,CTS
2,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,1879.0,CTS
3,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2016,Counts,1682.0,CTS
4,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2019,Counts,1561.0,CTS

In [32]:
len(datos)

1634

In [33]:
datos.nunique()

Iso3_code                 1
Country                   1
Region                    1
Subregion                 1
Indicator                 5
Dimension                 6
Category                 24
Sex                       3
Age                      11
Year                     31
Unit of measurement       2
VALUE                  1087
Source                    3
dtype: int64

In [38]:
datos['Indicator'].value_counts()

Indicator
Victims of intentional homicide                        1208
Persons arrested/suspected for intentional homicide     338
Victims of intentional homicide – City-level data        58
Death due to intentional homicide in prison              16
Persons convicted for intentional homicide               14
Name: count, dtype: int64